service hans /system/bin/hans
    class core
    user system
    group system
    disabled

on property:sys.hans.enable=true
    start hans

on property:sys.hans.enable=false
    stop hans

on post-fs-data
    mkdir /dev/freezer
    mount cgroup none /dev/freezer freezer
    mkdir /dev/freezer/frozen
    mkdir /dev/freezer/thaw
    write /dev/freezer/frozen/freezer.state FROZEN
    write /dev/freezer/thaw/freezer.state THAWED

    chown system system /dev/freezer
    chown system system /dev/freezer/frozen
    chown system system /dev/freezer/frozen/tasks
    chown system system /dev/freezer/frozen/cgroup.procs
    chown system system /dev/freezer/thaw
    chown system system /dev/freezer/thaw/tasks
    chown system system /dev/freezer/thaw/cgroup.procs

    chmod 0644 /dev/freezer/frozen/tasks
    chmod 0644 /dev/freezer/frozen/cgroup.procs
    chmod 0644 /dev/freezer/thaw/tasks
    chmod 0644 /dev/freezer/thaw/cgroup.procs
