service neo /system/bin/neo
        class core
        user system
        group system readproc
        capabilities SYS_NICE
        disabled
        socket neosocket stream 660 system system

on property:sys.boot_completed=1 && property:persist.sys.enable.neo=0
        stop neo

on property:sys.boot_completed=1 && property:persist.sys.enable.neo=1
        start neo

on post-fs-data
    mkdir /data/system/neuron_system 0777 system system
    chmod 0777 /data/system/neuron_system

